/vendor/
/web/core/
/web/libraries/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/

/web/sites/*/files/
/web/sites/*/private/
/web/sites/*/tmp/

/web/sites/*/settings.local.php
/web/sites/*/services.local.yml

.env
.env.local

/.drush-lock-update
/drush/contrib/

.vscode/
.idea/
*.swp
*.bak
.DS_Store
Thumbs.db

.ddev/.dbimage*
.ddev/.import-db*
.ddev/commands/host/
.ddev/homeadditions/
.ddev/config.local.yaml

/web/sites/*/simpletest/
.phpunit.result.cache
/node_modules/
